@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
body{
    height: fit-content;
    width: auto;
}
.border-square {
    border-radius: 0px;
}

.pixel-font {
    font-family: 'VT323', monospace;
}

.font-size-28 {
    font-size: 28px;
}

.font-size-36 {
    font-size: 36px;
    font-weight: 700;
}

.font-size-56{
    font-size: 56px;
    font-weight: 600;
}

.font-size-64 {
    font-size: 64px;
}

.font-size-84 {
    font-size: 84px;
}

.font-size-100 {
    font-size: 100px;
}

.font-size-120 {
    font-size: 120px;
}

.text-back {
    color: #000;
}

.border-top-s2 {
    border-top: 0px solid #000;
}

.box-sado-nav {
    box-shadow: 6px 6px 0px #000;
    border: 2px solid #000;
}

.box-sado-btn {
    box-shadow: 1px 1px 0px rgb(130, 130, 130);
}

.box-sado {
    box-shadow: 6px 6px 0px #000;
    border: 3px solid #000;
}

.box-blod {
    border: 3px solid #000;
}

.box-blod-t-3 {
    border-top: 3px solid #000;
}

.box-blod-b-3 {
    border-bottom: 3px solid #000;
}

.box-blod-t-0 {
    border: 3px solid #000;
    border-top: 0px;
}

.box-blod-cycle {
    border: 3px solid #000;
}

.service-item .service-img::before {
    background-color: #fff;
}


/* .box-sado-ber {
    box-shadow: 6px 6px 0px 0px #000;
    border: 3px solid black;
} */

.bg-white {
    background-color: #fff;
}

.text-sado {
    text-shadow: 1px 1px 0px #000000;
}

.text-left {
    text-align: left;
}

.h-item-100 {
    height: 700px;
}

.space-h1 {
    padding: 0%;
}

.btn-center-header {
    height: fit-content;
    background-color: #ffffff;
    /* #f3f6ff */
}

.carousel-caption-fram {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    border-radius: 30px;
}

.carousel-caption-fram {
    top: 90px;
    left: 20%;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.884);
    width: 60%;
    height: 370px;
    z-index: 1;
}

.btn-slidenext {
    width: 90%;
    height: 10%;
    border-radius: 5px;
    padding-top: 10px;
}

.w-100 {
    width: 100%;
    height: 100%;
}

.h-70 {
    height: 700px;
}

.start-bg-pc {
    display: block;
}

.start-bg-mb {
    display: none;
}

.rarityPc {
    display: block;
}

.rarityM {
    display: none;
}

.storyP {
    display: block;
}

.storyM {
    display: none;
}

.height-texbox {
    height: 500px;
}

.height-texbox-400 {
    height: 500px;
}

.owl-prev,
.owl-next {
    margin-top: 60px;
    border: 2px solid #000;
    box-shadow: 2px 2px 0px #000;
}

.btn-wave {
    margin: 30px;
    animation: ripple 1500ms infinite;
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0px #ffffff, 0 0 0 0px rgb(61, 61, 61);
    }
    100% {
        box-shadow: 0 0 0 15px #ffffff, 0 0 0 17px rgba(61, 61, 61, 0);
    }
}

.countdown-frame {
    text-align: center;
}

.countdown {
    display: inline-block;
}
  
/* .countdown #days,#hours,#minutes,#seconds {
    border: 1px solid black;
    display: block;
} */

.bg-storyP {
    display: block;
}

.bg-storyM {
    display: none;
}



/* ---------------- roadmap.html show roadmap more ------------------------- */
.shape-w{
    width: 100%;
    height: 100%;
}
.music-nft-content,
.airdrop-nft-content,
.gallery-nft-content,
.merch-nft-content,
.concert-nft-content,
.event-nft-content,
.showcase-nft-content,
.dividend-nft-content,
.token-nft-content,
.cafe-nft-content,
.excusive-nft-content,
.community-nft-content{
    position: absolute;
    cursor: pointer;
    transition: 0.5s;
}


.music-nft-content{
    left: 37%;
    top: 2%;
    width: 15%;
}
.music-nft-content:hover{
    left: 36.6%;
    top: 1.3%;
    width: 16%;
    transform: scale(1);
    z-index: 3;
}


.airdrop-nft-content{
    left: 18.7%;
    top: 9.6%;
    width: 15%;
}
.airdrop-nft-content:hover{
    left: 18.1%;
    top: 8.9%;
    width: 16%;
    transform: scale(1);
    z-index: 3;
 }


.gallery-nft-content{
    left: 57.7%;
    top: 11.4%;
    width: 15%;
}
.gallery-nft-content:hover{
    left: 57%;
    top: 10.7%;
    width: 16%;
    transform: scale(1);
    z-index: 3;
 }


.merch-nft-content{
    left: 21%;
    top: 29.5%;
    width: 15%;
}
.merch-nft-content:hover{
    left: 20.6%;
    top: 28.8%;
    width: 16%;
    transform: scale(1);
    z-index: 3;
}


.concert-nft-content{
    left: 66%;
    top: 26.9%;
    width: 15%;
}
.concert-nft-content:hover{
    left: 65.5%;
    top: 26.2%;
    width: 16%;
    transform: scale(1);
    z-index: 3;
}


.event-nft-content{
    left: 85.8%;
    top: 34.7%;
    width: 15%;
}
.event-nft-content:hover{
    left: 85.2%;
    top: 34%;
    width: 16%;
    transform: scale(1);
    z-index: 3;
}


.showcase-nft-content{
    left: 42.3%;
    top: 41.7%;
    width: 15%;
}
.showcase-nft-content:hover{
    left: 41.8%;
    top: 41%;
    width: 16%;
    transform: scale(1);
    z-index: 3;
}

.dividend-nft-content{
    left: 17.2%;
    top: 44.3%;
    width: 15%;
}
.dividend-nft-content:hover{
    left: 16.7%;
    top: 43.6%;
    width: 16%;
    transform: scale(1);
    z-index: 3;
}


.token-nft-content{
    left: 80.5%;
    top: 48.2%;
    width: 15%;
}
.token-nft-content:hover{
    left: 80%;
    top: 47.5%;
    width: 16%;
    transform: scale(1);
    z-index: 3;
}


.cafe-nft-content{
    left: 2.8%;
    top: 66.6%;
    width: 15%;
}
.cafe-nft-content:hover{
    left: 2.3%;
    top: 65.9%;
    width: 16%;
    transform: scale(1);
    z-index: 3;
}


.excusive-nft-content{
    left: 68.4%;
    top: 59.5%;
    width: 15%;
}
.excusive-nft-content:hover{
    left: 67.9%;
    top: 58.8%;
    width: 16%;
    transform: scale(1);
    z-index: 3;
}

.community-nft-content{
    left: 76.6%;
    top: 75%;
    width: 15%;
}
.community-nft-content:hover{
    left: 76.1%;
    top: 74.3%;
    width: 16%;
    transform: scale(1);
    z-index: 3;
}
/* ------------------------------------ End show roadmap more. ------------------------------------- */

/**/

/* -------------------------------- Start box show data roadmap more -----------------------------*/

.model-box-roadmap {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.model-content-roadmap{
    background-color: #fefefe;
    margin: 8% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
    height: fit-content;
    animation-name: show_box;
    animation-duration: 0.5s;
    /* display: grid;
    gap: 1;
    grid-template-columns: 50% 50%; */
    padding: 1rem;
}

.model-content-roadmap .model-right .top {
    width: 100%;
    justify-content: end;
    display: flex;
}

.model-content-roadmap .model-right .top .close {
    width: fit-content;
    cursor: pointer;
}
@keyframes show_box {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}



@media (max-width: 1300px) {
    .rarityPc {
        display: none;
    }
    .rarityM {
        display: block;
    }
    .font-size-64 {
        font-size: 48px;
    }
    .carousel-caption-fram {
        width: 70%;
        left: 15%;
    }
    .font-size-100 {
        font-size: 74px;
    }
    .carousel-caption-fram {
        top: 70px;
        height: 270px;
    }
    .music-nft-content,
    .airdrop-nft-content,
    .gallery-nft-content,
    .merch-nft-content,
    .concert-nft-content,
    .event-nft-content,
    .showcase-nft-content,
    .dividend-nft-content,
    .token-nft-content,
    .cafe-nft-content,
    .excusive-nft-content,
    .community-nft-content{
        transition: 0s;
    }
    .music-nft-content:hover{
        left: 36.6%;
        top: 1.3%;
        width: 16%;
        z-index: 0;
    }
    .airdrop-nft-content:hover{
        left: 18.1%;
        top: 8.9%;
        width: 16%;
        z-index: 0;
    }
    .gallery-nft-content:hover{
        left: 57%;
        top: 10.7%;
        width: 16%;
        z-index: 0;
    }
    .merch-nft-content:hover{
        left: 20.6%;
        top: 28.8%;
        width: 16%;
        z-index: 0;
    }
    .concert-nft-content:hover{
        left: 65.5%;
        top: 26.2%;
        width: 16%;
        z-index: 0;
    }
    .event-nft-content:hover{
        left: 85.2%;
        top: 34%;
        width: 16%;
        z-index: 0;
    }
    .showcase-nft-content:hover{
        left: 41.8%;
        top: 41%;
        width: 16%;
        z-index: 0;
    }
    .dividend-nft-content:hover{
        left: 16.7%;
        top: 43.6%;
        width: 16%;
        z-index: 0;
    }
    .token-nft-content:hover{
        left: 80%;
        top: 47.5%;
        width: 16%;
        z-index: 0;
    }
    .cafe-nft-content:hover{
        left: 2.3%;
        top: 65.9%;
        width: 16%;
        z-index: 0;
    }
    .excusive-nft-content:hover{
        left: 67.9%;
        top: 58.8%;
        width: 16%;
        z-index: 0;
    }
    .community-nft-content:hover{
        left: 76.1%;
        top: 74.3%;
        width: 16%;
        z-index: 0;
    }

}

@media (max-width: 900px) {
    .font-size-100 {
        font-size: 82px;
    }
    .font-size-120 {
        font-size: 72px;
    }
    .carousel-caption-fram {
        top: 30px;
        height: 210px;
    }
    .font-size-100 {
        font-size: 55px;
    }
    .box-sado-nav {
        box-shadow: 0px 0px 0px #000;
        border: 0px solid #000;
    }
    .border-top-s2 {
        border-top: 2px solid #000;
    }
    .rarityPc {
        display: none;
    }
    .rarityM {
        display: block;
    }
    .font-size-36 {
        font-size: 32px;
        font-weight: 700;
    }
    .font-size-32 {
        font-size: 30px;
        font-weight: 500;
    }
    .bg-storyP {
        display: none;
    }
    .bg-storyM {
        display: block;
    }
    .font-size-56{
        font-size: 36px;
        font-weight: 600;
    }
    .music-nft-content,
    .airdrop-nft-content,
    .gallery-nft-content,
    .merch-nft-content,
    .concert-nft-content,
    .event-nft-content,
    .showcase-nft-content,
    .dividend-nft-content,
    .token-nft-content,
    .cafe-nft-content,
    .excusive-nft-content,
    .community-nft-content{
        transition: 0s;
    }
    .music-nft-content:hover{
        left: 36.6%;
        top: 1.3%;
        width: 16%;
        z-index: 0;
    }
    .airdrop-nft-content:hover{
        left: 18.1%;
        top: 8.9%;
        width: 16%;
        z-index: 0;
    }
    .gallery-nft-content:hover{
        left: 57%;
        top: 10.7%;
        width: 16%;
        z-index: 0;
    }
    .merch-nft-content:hover{
        left: 20.6%;
        top: 28.8%;
        width: 16%;
        z-index: 0;
    }
    .concert-nft-content:hover{
        left: 65.5%;
        top: 26.2%;
        width: 16%;
        z-index: 0;
    }
    .event-nft-content:hover{
        left: 85.2%;
        top: 34%;
        width: 16%;
        z-index: 0;
    }
    .showcase-nft-content:hover{
        left: 41.8%;
        top: 41%;
        width: 16%;
        z-index: 0;
    }
    .dividend-nft-content:hover{
        left: 16.7%;
        top: 43.6%;
        width: 16%;
        z-index: 0;
    }
    .token-nft-content:hover{
        left: 80%;
        top: 47.5%;
        width: 16%;
        z-index: 0;
    }
    .cafe-nft-content:hover{
        left: 2.3%;
        top: 65.9%;
        width: 16%;
        z-index: 0;
    }
    .excusive-nft-content:hover{
        left: 67.9%;
        top: 58.8%;
        width: 16%;
        z-index: 0;
    }
    .community-nft-content:hover{
        left: 76.1%;
        top: 74.3%;
        width: 16%;
        z-index: 0;
    }
}

@media (max-width: 700px) {
    .font-size-100 {
        font-size: 42px;
    }
    .font-size-120 {
        font-size: 39px;
    }
    .carousel-caption-fram {
        top: 0px;
        height: 250px;
    }
    .box-sado-nav {
        box-shadow: 0px 0px 0px #000;
    }
    .carousel-item {
        height: 250px;
    }
    .storyM {
        display: block;
    }
    .storyP {
        display: none;
    }
    .start-bg-pc {
        display: none;
    }
    .start-bg-mb {
        display: block;
    }
    .Carousel-heigh {
        height: 600px;
    }
    .music-nft-content,
    .airdrop-nft-content,
    .gallery-nft-content,
    .merch-nft-content,
    .concert-nft-content,
    .event-nft-content,
    .showcase-nft-content,
    .dividend-nft-content,
    .token-nft-content,
    .cafe-nft-content,
    .excusive-nft-content,
    .community-nft-content{
        transition: 0s;
    }
    .music-nft-content:hover{
        left: 36.6%;
        top: 1.3%;
        width: 16%;
        z-index: 0;
    }
    .airdrop-nft-content:hover{
        left: 18.1%;
        top: 8.9%;
        width: 16%;
        z-index: 0;
    }
    .gallery-nft-content:hover{
        left: 57%;
        top: 10.7%;
        width: 16%;
        z-index: 0;
    }
    .merch-nft-content:hover{
        left: 20.6%;
        top: 28.8%;
        width: 16%;
        z-index: 0;
    }
    .concert-nft-content:hover{
        left: 65.5%;
        top: 26.2%;
        width: 16%;
        z-index: 0;
    }
    .event-nft-content:hover{
        left: 85.2%;
        top: 34%;
        width: 16%;
        z-index: 0;
    }
    .showcase-nft-content:hover{
        left: 41.8%;
        top: 41%;
        width: 16%;
        z-index: 0;
    }
    .dividend-nft-content:hover{
        left: 16.7%;
        top: 43.6%;
        width: 16%;
        z-index: 0;
    }
    .token-nft-content:hover{
        left: 80%;
        top: 47.5%;
        width: 16%;
        z-index: 0;
    }
    .cafe-nft-content:hover{
        left: 2.3%;
        top: 65.9%;
        width: 16%;
        z-index: 0;
    }
    .excusive-nft-content:hover{
        left: 67.9%;
        top: 58.8%;
        width: 16%;
        z-index: 0;
    }
    .community-nft-content:hover{
        left: 76.1%;
        top: 74.3%;
        width: 16%;
        z-index: 0;
    }
}

@media (max-width: 600px) {
    .rarityPc {
        display: none;
    }
    .rarityM {
        display: block;
    }
    .storyM {
        display: block;
    }
    .storyP {
        display: none;
    }
    .font-size-100 {
        font-size: 33px;
    }
    .font-size-120 {
        font-size: 38px;
    }
    .carousel-item {
        height: 400px;
    }
    .Carousel-heigh {
        height: 600px;
    }
    .carousel-caption-fram {
        top: 100px;
        height: 200px;
        width: 80%;
        left: 10%;
    }
    .font-size-36 {
        font-size: 26px;
        font-weight: 600;
    }
    .font-size-32{
        font-size: 24px;
        font-weight: 500;
    }
    .font-size-56{
        font-size: 26px;
        font-weight: 600;
    }
    /* .model-content-roadmap{
        display: block;
        gap: 1;
        grid-template-columns: 50% 50%;
        padding: 1rem;
    } */
    .music-nft-content,
    .airdrop-nft-content,
    .gallery-nft-content,
    .merch-nft-content,
    .concert-nft-content,
    .event-nft-content,
    .showcase-nft-content,
    .dividend-nft-content,
    .token-nft-content,
    .cafe-nft-content,
    .excusive-nft-content,
    .community-nft-content{
        transition: 0s;
    }
    .music-nft-content:hover{
        left: 36.6%;
        top: 1.3%;
        width: 16%;
        z-index: 0;
    }
    .airdrop-nft-content:hover{
        left: 18.1%;
        top: 8.9%;
        width: 16%;
        z-index: 0;
    }
    .gallery-nft-content:hover{
        left: 57%;
        top: 10.7%;
        width: 16%;
        z-index: 0;
    }
    .merch-nft-content:hover{
        left: 20.6%;
        top: 28.8%;
        width: 16%;
        z-index: 0;
    }
    .concert-nft-content:hover{
        left: 65.5%;
        top: 26.2%;
        width: 16%;
        z-index: 0;
    }
    .event-nft-content:hover{
        left: 85.2%;
        top: 34%;
        width: 16%;
        z-index: 0;
    }
    .showcase-nft-content:hover{
        left: 41.8%;
        top: 41%;
        width: 16%;
        z-index: 0;
    }
    .dividend-nft-content:hover{
        left: 16.7%;
        top: 43.6%;
        width: 16%;
        z-index: 0;
    }
    .token-nft-content:hover{
        left: 80%;
        top: 47.5%;
        width: 16%;
        z-index: 0;
    }
    .cafe-nft-content:hover{
        left: 2.3%;
        top: 65.9%;
        width: 16%;
        z-index: 0;
    }
    .excusive-nft-content:hover{
        left: 67.9%;
        top: 58.8%;
        width: 16%;
        z-index: 0;
    }
    .community-nft-content:hover{
        left: 76.1%;
        top: 74.3%;
        width: 16%;
        z-index: 0;
    }
}

@media (max-width: 280px) {
    .font-size-100 {
        font-size: 32px;
    }
    .carousel-caption-fram {
        top: 0px;
        height: 180px;
    }
    .box-sado-nav {
        box-shadow: 0px 0px 0px #000;
    }
    .w-100 {
        height: 600px;
    }
    .storyM {
        display: block;
    }
    .storyP {
        display: none;
    }
    .music-nft-content,
    .airdrop-nft-content,
    .gallery-nft-content,
    .merch-nft-content,
    .concert-nft-content,
    .event-nft-content,
    .showcase-nft-content,
    .dividend-nft-content,
    .token-nft-content,
    .cafe-nft-content,
    .excusive-nft-content,
    .community-nft-content{
        transition: 0s;
    }
    .music-nft-content:hover{
        left: 36.6%;
        top: 1.3%;
        width: 16%;
        z-index: 0;
    }
    .airdrop-nft-content:hover{
        left: 18.1%;
        top: 8.9%;
        width: 16%;
        z-index: 0;
    }
    .gallery-nft-content:hover{
        left: 57%;
        top: 10.7%;
        width: 16%;
        z-index: 0;
    }
    .merch-nft-content:hover{
        left: 20.6%;
        top: 28.8%;
        width: 16%;
        z-index: 0;
    }
    .concert-nft-content:hover{
        left: 65.5%;
        top: 26.2%;
        width: 16%;
        z-index: 0;
    }
    .event-nft-content:hover{
        left: 85.2%;
        top: 34%;
        width: 16%;
        z-index: 0;
    }
    .showcase-nft-content:hover{
        left: 41.8%;
        top: 41%;
        width: 16%;
        z-index: 0;
    }
    .dividend-nft-content:hover{
        left: 16.7%;
        top: 43.6%;
        width: 16%;
        z-index: 0;
    }
    .token-nft-content:hover{
        left: 80%;
        top: 47.5%;
        width: 16%;
        z-index: 0;
    }
    .cafe-nft-content:hover{
        left: 2.3%;
        top: 65.9%;
        width: 16%;
        z-index: 0;
    }
    .excusive-nft-content:hover{
        left: 67.9%;
        top: 58.8%;
        width: 16%;
        z-index: 0;
    }
    .community-nft-content:hover{
        left: 76.1%;
        top: 74.3%;
        width: 16%;
        z-index: 0;
    }
}