@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
.border-square {
    border-radius: 0px;
}

.pixel-font {
    font-family: 'VT323', monospace;
}

.font-size-36 {
    font-size: 36px;
    font-weight: 700;
}

.font-size-64 {
    font-size: 64px;
}

.font-size-84 {
    font-size: 84px;
}

.font-size-100 {
    font-size: 100px;
}

.font-size-120 {
    font-size: 120px;
}

.text-back {
    color: #000;
}

.box-sado-nav {
    box-shadow: 6px 6px 0px #000;
}

.box-sado-btn {
    box-shadow: 1px 1px 0px rgb(130, 130, 130);
}

.box-sado {
    box-shadow: 6px 6px 0px #000;
}


/* .text-sado {
    text-shadow: 3px 5px 1px #000000;
} */

.text-left {
    text-align: left;
}

.h-item-100 {
    height: 650px;
}

.space-h1 {
    padding: 0%;
}

.btn-center-header {
    height: 230px;
    background-color: #ffffff;
    /* #f3f6ff */
}

.carousel-caption-fram {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    border-radius: 30px;
}

.carousel-caption-fram {
    top: 90px;
    left: 20%;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.884);
    width: 60%;
    height: 370px;
    z-index: 1;
}

.btn-slidenext {
    width: 90%;
    height: 10%;
    border-radius: 5px;
    padding-top: 10px;
}

.w-100 {
    width: 100%;
    height: 100%;
}

.h-70 {
    height: 700px;
}

.start-bg-pc {
    display: block;
}

.start-bg-mb {
    display: none;
}

.rarityPc {
    display: block;
}

.rarityM {
    display: none;
}

.storyP {
    display: block;
}

.storyM {
    display: none;
}

.height-texbox {
    height: 500px;
}

.height-texbox-400 {
    height: 500px;
}

.owl-prev,
.owl-next {
    margin-top: 60px;
}

.btn-weve {
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    box-sizing: content-box;
    outline: none !important;
}

.btn-weve:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    right: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 250px;
    height: 80px;
    background: #f195b29f;
    animation: pulse-border 1500ms ease-out infinite;
}


/* .btn-weve span {
    position: relative;
    z-index: 3;
} */

@media (max-width: 1300px) {
    .rarityPc {
        display: none;
    }
    .rarityM {
        display: block;
    }
    .font-size-64 {
        font-size: 48px;
    }
    .carousel-caption-fram {
        width: 70%;
        left: 15%;
    }
    .font-size-100 {
        font-size: 74px;
    }
    .carousel-caption-fram {
        top: 70px;
        height: 270px;
    }
}

@media (max-width: 900px) {
    .font-size-100 {
        font-size: 82px;
    }
    .font-size-120 {
        font-size: 72px;
    }
    .carousel-caption-fram {
        top: 30px;
        height: 210px;
    }
    .font-size-100 {
        font-size: 55px;
    }
    .box-sado-nav {
        box-shadow: 0px 0px 0px #000;
    }
    /* .carousel-item {
        height: 500px;
    } */
    .rarityPc {
        display: none;
    }
    .rarityM {
        display: block;
    }
    .font-size-36 {
        font-size: 32px;
        font-weight: 700;
    }
    /* .Carousel-heigh {
        height: 300px;
    } */
}

@media (max-width: 700px) {
    .font-size-100 {
        font-size: 42px;
    }
    .font-size-120 {
        font-size: 32px;
    }
    .carousel-caption-fram {
        top: 0px;
        height: 250px;
    }
    .box-sado-nav {
        box-shadow: 0px 0px 0px #000;
    }
    .carousel-item {
        height: 250px;
    }
    .storyM {
        display: block;
    }
    .storyP {
        display: none;
    }
    .start-bg-pc {
        display: none;
    }
    .start-bg-mb {
        display: block;
    }
    .Carousel-heigh {
        height: 600px;
    }
}

@media (max-width: 600px) {
    .rarityPc {
        display: none;
    }
    .rarityM {
        display: block;
    }
    .storyM {
        display: block;
    }
    .storyP {
        display: none;
    }
    .font-size-100 {
        font-size: 33px;
    }
    .carousel-item {
        height: 400px;
    }
    .Carousel-heigh {
        height: 600px;
    }
    .carousel-caption-fram {
        top: 100px;
        height: 200px;
        width: 80%;
        left: 10%;
    }
    .font-size-36 {
        font-size: 26px;
        font-weight: 600;
    }
}

@media (max-width: 280px) {
    .font-size-100 {
        font-size: 32px;
    }
    .carousel-caption-fram {
        top: 0px;
        height: 180px;
    }
    .box-sado-nav {
        box-shadow: 0px 0px 0px #000;
    }
    .w-100 {
        height: 600px;
    }
    .storyM {
        display: block;
    }
    .storyP {
        display: none;
    }
}